body {
    transition: background-color 0.5s, color 0.5s;
}

body.day-mode {
    background-color: #ffffff;
    color: #000000;
}

body.dark-mode {
    background-color: #000000;
    color: #ffffff;
}
