body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.promo-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: #f0f4f8;
    flex-wrap: wrap; /* Make the section flexible and wrap on smaller screens */
}

.promo-content {
    max-width: 600px;
    flex: 1 1 300px; /* Flex grow, shrink, and basis for responsive layout */
}

.promo-title {
    padding: 15px 0px 0px 10px;
    font-size: 36px;
    color: #1a2b40;
    margin-bottom: 20px;
}

.promo-paragraph {
    padding: 15px 0px 0px 10px;
    font-size: 18px;
    color: #33475b;
    margin-bottom: 20px;
}

.promo-button:hover {
    background-color: #004dbd;
}

.promo-image {
    flex: 1 1 300px; /* Flex grow, shrink, and basis for responsive layout */
    display: flex;
    justify-content: center;
}

.promo-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .promo-section {
        flex-direction: column; /* Stack the image above the text on small screens */
        padding: 20px;
    }
    
}
